@use 'abstracts/variables' as v;
// -----------------------------------------------------------------------------
//Estilos básicos
// -----------------------------------------------------------------------------
//normalizado de cajas 
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
//links
a {
  color: v.$color-secondary;
  text-decoration: none;

  /* @include on-event {
    color: $text-color;
    text-decoration: underline;
  } */
}

img  {
  max-width: 100%;
  height: auto;
  display: block;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  /*específico para MacOS con Chrome. */
  &:focus {
    outline: none;
    box-shadow: none;
   
  }
}

.moving_effect{
	will-change: transform;
	transition: transform 5s cubic-bezier(0, 0, 0, 1) 0s;
	display: block;
}