@charset "UTF-8";
/* @import */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #e50050;
  text-decoration: none;
  /* @include on-event {
    color: $text-color;
    text-decoration: underline;
  } */
}

img {
  width: 100%;
  height: auto;
}

/**
 * Estilos de tipografía Básica
 */
body {
  color: #222222;
  /* font: normal 125% / 1.4 $text-font-stack; */
}

/* Sistema de grilla solo css */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

.col.norm-1 {
  grid-column: span 1;
}

.col.norm-2 {
  grid-column: span 2;
}

.col.norm-3 {
  grid-column: span 3;
}

.col.norm-4 {
  grid-column: span 4;
}

.col.norm-5 {
  grid-column: span 5;
}

.col.norm-6 {
  grid-column: span 6;
}

.col.norm-7 {
  grid-column: span 7;
}

.col.norm-8 {
  grid-column: span 8;
}

.col.norm-9 {
  grid-column: span 9;
}

.col.norm-10 {
  grid-column: span 10;
}

.col.norm-11 {
  grid-column: span 11;
}

.col.norm-12 {
  grid-column: span 12;
}

@media (min-width: 576px) {
  .col.sm-1 {
    grid-column: span 1;
  }

  .col.sm-2 {
    grid-column: span 2;
  }

  .col.sm-3 {
    grid-column: span 3;
  }

  .col.sm-4 {
    grid-column: span 4;
  }

  .col.sm-5 {
    grid-column: span 5;
  }

  .col.sm-6 {
    grid-column: span 6;
  }

  .col.sm-7 {
    grid-column: span 7;
  }

  .col.sm-8 {
    grid-column: span 8;
  }

  .col.sm-9 {
    grid-column: span 9;
  }

  .col.sm-10 {
    grid-column: span 10;
  }

  .col.sm-11 {
    grid-column: span 11;
  }

  .col.sm-12 {
    grid-column: span 12;
  }
}
@media (min-width: 768px) {
  .col.md-1 {
    grid-column: span 1;
  }

  .col.md-2 {
    grid-column: span 2;
  }

  .col.md-3 {
    grid-column: span 3;
  }

  .col.md-4 {
    grid-column: span 4;
  }

  .col.md-5 {
    grid-column: span 5;
  }

  .col.md-6 {
    grid-column: span 6;
  }

  .col.md-7 {
    grid-column: span 7;
  }

  .col.md-8 {
    grid-column: span 8;
  }

  .col.md-9 {
    grid-column: span 9;
  }

  .col.md-10 {
    grid-column: span 10;
  }

  .col.md-11 {
    grid-column: span 11;
  }

  .col.md-12 {
    grid-column: span 12;
  }
}
@media (min-width: 992px) {
  .col.lg-1 {
    grid-column: span 1;
  }

  .col.lg-2 {
    grid-column: span 2;
  }

  .col.lg-3 {
    grid-column: span 3;
  }

  .col.lg-4 {
    grid-column: span 4;
  }

  .col.lg-5 {
    grid-column: span 5;
  }

  .col.lg-6 {
    grid-column: span 6;
  }

  .col.lg-7 {
    grid-column: span 7;
  }

  .col.lg-8 {
    grid-column: span 8;
  }

  .col.lg-9 {
    grid-column: span 9;
  }

  .col.lg-10 {
    grid-column: span 10;
  }

  .col.lg-11 {
    grid-column: span 11;
  }

  .col.lg-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1200px) {
  .col.-xl-1 {
    grid-column: span 1;
  }

  .col.-xl-2 {
    grid-column: span 2;
  }

  .col.-xl-3 {
    grid-column: span 3;
  }

  .col.-xl-4 {
    grid-column: span 4;
  }

  .col.-xl-5 {
    grid-column: span 5;
  }

  .col.-xl-6 {
    grid-column: span 6;
  }

  .col.-xl-7 {
    grid-column: span 7;
  }

  .col.-xl-8 {
    grid-column: span 8;
  }

  .col.-xl-9 {
    grid-column: span 9;
  }

  .col.-xl-10 {
    grid-column: span 10;
  }

  .col.-xl-11 {
    grid-column: span 11;
  }

  .col.-xl-12 {
    grid-column: span 12;
  }
}
/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
 Contenedores principales
 * 1. Hacer el contenedor de ancho completo con un ancho máximo
 * 2. Centrarlo en la ventana gráfica
 * 3. Deje algo de espacio en los bordes, especialmente valioso en pantallas pequeñas
 */
.container {
  max-width: 1200px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */
}

/* @import */

/*# sourceMappingURL=main.css.map */
