@use "abstracts/mixins" as m;
@use "abstracts/variables" as v;

.footer {
  background-color: v.$color-primary;
  padding: v.$separacion 0 calc(v.$separacion) 0;
  color: v.$grey-6;
  overflow-x: hidden;
  &__logo {
    position: relative;

    div > svg {
      .st2 {
        fill: v.$color-secondary;
      }
      .st3,
      .st1 {
        fill: v.$color-primary;
      }
    }
    .square1 {
      position: absolute;
      bottom: -0px;
      right: 130px;
      width: 97%;
      height: 70%;
      border: 0.3vw solid v.$white;
      @include m.respond-to("bp-lg") {
        bottom: -10px !important;
        right: 0px !important;
        width: 15vw;
        height: 100%;
        min-height: 30vh;
      }
    }
    @include m.respond-to("bp-lg") {
      width: 10vw;
    }
  }
  &__social {
    margin: v.$separacion 0;
    @include m.respond-to("bp-lg"){
      margin:0;

    }
  }
  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 4em;

    @include m.respond-to("bp-lg") {
      flex-direction: row;
    }
    .right {
      ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        li a {
          margin-top: 1em;
          color: v.$grey-6;
        }
        @include m.respond-to("bp-lg") {
          li a {
            margin-top: 0em;
          }
          flex-direction: row;
          justify-content: space-evenly;
        }
      }
      width: 50%;
    }
  }
  @include m.respond-to("bp-lg") {
    /*  max-height: 120px; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow-x: visible;

    &__box:nth-child(1) {
      grid-column: 3/4;
      grid-row: 1/2;
    }
    &__box:nth-child(2) {
      grid-column: 8/11;
      grid-row: 1/2;
    }
    &__box:nth-child(3) {
      grid-column: 11/12;
      grid-row: 1/2;
    }
    &__box:nth-child(4) {
      grid-column: 3/11;
      grid-row: 2/3;
    }

    &__square2 {
      position: relative;
      width: 100%;
      height: auto;
      .square2 {
        position: absolute;
        bottom: 100px;
        right: -60px;
        width: 200px;
        height: 200px;
        background-color: v.$red-fluor;
      }
    }
  }
}
