@use "abstracts/mixins" as m;
@use "abstracts/variables" as v;


.line__anim {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
    &:after {
      content: "";
      width: 0;
      height: 1px;
      position: absolute;
      left: auto;
      right: 0;
      bottom: 3px;
      transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
      background: currentColor;
    }
    &:hover:after {
      width: 100%;
      left: 0;
      right: auto;
    }

  }