@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

.navbar {
  @include m.respond-to("bp-lg") {
    max-height: 120px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &__box:nth-child(1) {
      grid-column: 3/4;
      position: relative;
    }
    &__box:nth-child(2) {
      grid-column: 8/12;
    }
  }
  
  &__logo {
    width: 30%;
    margin: 0 auto;
    
    @include m.respond-to("bp-lg") {
      position: absolute;
      top: 10px;
      z-index: 3;
      width: 13rem;
      margin: 0;
    }
  }
  &__items {
    width: 100%;
    display: flex;
   
    justify-content: center;
    // padding-bottom: 2em;
    
    .nav__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4rem;
      @include m.respond-to("bp-lg") {
        width: 100%;
        justify-content: space-evenly;
        flex-direction: row;
      }
      span {
        height: fit-content;
        color: v.$white;
        padding: 0em 0 1em 0;
        font-size: 2rem;
        font-family: v.$font-primary;
        margin-bottom: 50%;
        font-weight: 400;
        cursor: pointer;
        &:hover {
          color: v.$color-secondary;
        }
        /* https://escuelavue.es/series/curso-vue-router-espanol/vue-router-active-css-class/ 
    https://github.com/juanwmedia/vue-router-esencial/commit/7b8a2516fcf74fd77902569737f54e17fdc722cc
    observar los cambios en el constructor de router*/
        &.activeExact {
          color: v.$color-secondary;
          &::after{
            content: "";
          width: 100%;
          height: 1px;
          position: absolute;
          left: auto;
          right: 0;
          bottom: 3px;
          transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
          background: currentColor;
          }
        }
        
      }
    }
    @include m.respond-to("bp-lg") {
      display: flex;
      justify-content: flex-end;
    }
  }
}
